input {
    width: 100%
}
.centered {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.login {
    height: 150px;
}

.cadastro {
    height: 250px;
}